h1 {
    text-align: center;
    background-color: mediumaquamarine;
    color: white
}
h2{
    text-align: center;
    background-color: mediumaquamarine;
    color :blue;
}
ul#faits {
    color: blue;
}
nav{
    
}